################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/BE/v17
/sistema-easygold/.vs/EasyGold
/sistema-easygold/EasyGold.API/bin/Debug/net8.0/logs
/sistema-easygold/EasyGold.API/bin/Debug/net8.0/EasyGold.API.dll
*.exe
/sistema-easygold/EasyGold.API/bin/Debug/net8.0/EasyGold.API.pdb
/sistema-easygold/EasyGold.API/logs
/sistema-easygold/EasyGold.API/appsettings.json
/sistema-easygold/EasyGold.API/EasyGold.API.csproj.user
/sistema-easygold/EasyGold.API/obj/EasyGold.API.csproj.nuget.dgspec.json
/sistema-easygold/EasyGold.API/obj/EasyGold.API.csproj.nuget.g.props
/sistema-easygold/EasyGold.API/obj/EasyGold.API.csproj.nuget.g.targets
/sistema-easygold/EasyGold.API/obj/project.assets.json
/sistema-easygold/EasyGold.API/obj/project.nuget.cache
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/ref/EasyGold.API.dll
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/refint/EasyGold.API.dll
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.EasyGold.API.props
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.EasyGold.API.props
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.AssemblyInfo.cs
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.AssemblyInfoInputs.cache
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.assets.cache
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.csproj.AssemblyReference.cache
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.csproj.BuildWithSkipAnalyzers
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.csproj.CoreCompileInputs.cache
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.csproj.FileListAbsolute.txt
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.dll
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.GeneratedMSBuildEditorConfig.editorconfig
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.genruntimeconfig.cache
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.MvcApplicationPartsAssemblyInfo.cs
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.pdb
/sistema-easygold/EasyGold.API/obj/Debug/net8.0/EasyGold.API.sourcelink.json
/sistema-easygold/EasyGold.API/appsettings.json
/sistema-easygold/EasyGold.API/obj/Release/net8.0
/sistema-easygold/EasyGold.API/.vs
damiani/

/sistema-easygold/EasyGold.API/appsettings.Development.json
/sistema-easygold/EasyGold.API/appsettings.Development.json
/sistema-easygold/EasyGold.API/appsettings.Development.json
/sistema-easygold/EasyGold.API/bin/Debug/net8.0
/sistema-easygold/EasyGold.API/obj/Debug/net8.0
/EasyGold.Web2.Models/Models/bin/Debug/net8.0
/EasyGold.Web2.Models/Models/obj
/EasyGold.Web2.Models/.vs
